html {
  background-image: url("./assets/hbk.jpeg");
  background-size: contain;
  background-position: center;
}


h1 {
  text-align: center;
  color: white;
}

.gameboard{
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  margin: auto;
}

.square {
  border: 2px solid red;
  height: 100px;
  width: 100px;
  font-size: 75px;
  text-align: center;
  background-color: black;
}